$foreground: #cdd6f4;
$gray: #aaaaaa;
$foreground-alt: #22242b;
$background: #0e1419;
$black: #45475a;
$red: #da3230;
$orange: #fca93e;
$green: #36d381;
$yellow: #e7fa40;
$blue: #893bff;
$magenta: #d570e7;
$cyan: #36a3d9;
$white: #bac2de;

$primary: $orange;

$primary-font: "Outfit";
$nerd-font: "Material Icons";
// $feather: "icomoon-feather";
