@import "./colors.scss";
window {
  background-color: $windowBg;
  font-family: $primary-font, $nerd-font;
}
button {
  padding: 2px 10px;
  margin: 2px 0;
  border-radius: 999px;
  transition: all 250ms ease;
}
.right-window-revealer {
  padding-right: 10px;
}
.left-window-revealer {
  padding-left: 10px;
}

@import "./bar.scss";
@import "./osd.scss";
@import "./music.scss";
@import "./launcher.scss";
