.volume-pop,
.brightness-pop {
	background: rgba(0,0,0,0);
}
.volume-slider,
.brightness-slider {
	border-radius: 999px;
	border: 2px solid #893bff;
	min-width: 28px;
}
.volume-slider trough,
.brightness-slider trough {
	background: #1e1e2e;
	min-width: 24px;
	padding: 16px 4px 16px 4px;
	border-radius: 999px;
}
.volume-slider .bottom,
.brightness-slider .bottom {
	background: #893bff;
	margin: -12px 0 -12px 0;
	min-width: 10px;
	border-radius: 999px;
	transition-duration: 250ms;
}
.volume-slider slider,
.brightness-slider slider {
	background: #893bff;
	min-width: 24px;
	min-height: 24px;
	box-shadow: none;
}
.volume-slider slider:hover,
.brightness-slider slider:hover {
	box-shadow: 0 0 4px 4px rgba(137,59,255,0.5);
}
.slider-icon {
	color: #0e0e1e;
}


/** EWW.SCSS
Created by saimoom **/
// selection_foreground    #fffffF
// selection_background    #6C7086
// cursor                  #f5e0dc
// cursor_text_color       #100f18
// url_color               #893bff
// active_border_color     #893bff
// inactive_border_color   #403056
// bell_border_color       #F9E2AF
// active_tab_foreground   #11111B
// active_tab_background   #CBA6F7
// inactive_tab_foreground #CDD6F4
// inactive_tab_background #181825
// tab_bar_background      #11111B
// mark1_foreground #1E1E2E
// mark1_background #B4BEFE
// mark2_foreground #1E1E2E
// mark2_background #CBA6F7
// mark3_foreground #1E1E2E
// mark3_background #74C7EC
// # black
// color0 #45475A
// color8 #585B70
// # red
// color1 #da4240
// color9 #da3230
// # green
// color2  #36d381
// color10 #26e354
// # blue
// color4  #893BFF
// color12 #936DFF
// # magenta
// color5  #d570E7
// color13 #F572E7
// # cyan
// color6  #5492f5
// color14 #74b2f5
$foreground: #cdd6f4;
$gray: #aaaaaa;
$foreground-alt: #22242b;
$background: #0e1419;
$black: #000000;
$red: #da3230;
$green: #b8cc52;
$yellow: #E7FA40;
$blue: #893BFF;
$magenta: #d570E7;
$cyan: #36a3d9;
$white: #BAC2DE;

$primary-font: "Albert Sans Medium";
$secondary-font: "Material Design Icons";
$feather: "icomoon-feather";


// * {
//   all: unset;
// }

window {
  background-color: rgba(30,30,46,0.4);
  font-family: $primary-font, $secondary-font;
}
button  {
  padding: 0 10px;
  margin: 2px 0;
  border-radius: 999px;
}
/** General **/
.bar {
  font-size: 14px;
  margin: 2px 11px;
}

.song {
  color: $blue;
  font-weight : bold;
  margin : 0px 10px;
}
.song button {
	// padding: 0 6px;
	// background-color: inherit;
}
.song-cover-art {
  background-size: cover;
  background-position: center;
  min-height: 30px;
  min-width: 30px;
  border-radius: 100px;
}
.song-btn button {
  font-family: $secondary-font;
  font-size : 22px;
  background-color: inherit;
  margin: 4px 2px;
  padding: 0 2px;
}

.workspaces-widget {
  font-family: $secondary-font;
  font-size: 20px;
}
.workspace-entry {
  margin: 2px 0;
  border-radius: 999px;
  padding: 2px 4px;
  background-color: inherit;
}
.workspace-entry .current {
  color: $yellow;
}
.workspace-entry .urgent {
  color: $red;
}

/** Widgets **/

.circ-btn {
  border-radius: 999px;
  padding: 0 5px;
  margin: 0px 0;
  background-color: inherit;
}
.clock {
  font-size: 24px;
  font-weight: bold;
  padding-left: 10px;
}
.date {
  font-family: "Vazirmatn FD";
  font-weight: normal;
  font-size: 11px;
  padding: 2px 8px 2px 2px;
}

/** tooltip!! **/
tooltip.background {
  background-color: $background;
  font-size: 12px;
  border-radius: 10px;
  color: $gray;
}
