@import "mocha.css";

* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: Albert Sans Medium, Material Design Icons;
    font-size: 14px;
    color: @text;
}

window#waybar {
    background-color: @bg; /* @base; */
    transition: background-color .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

window#waybar.termite {
    background-color: @mantle;
}

window#waybar.chromium {
    background-color: @crust;
    border: none;
}

button {
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 99px;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background-color: @mantle;
}

#workspaces * {
    font-size: 20px;
}

#workspaces button {
    margin: 3px 0px;
    padding: 3px 5px;
    background-color: transparent;
}

#workspaces button.active * {
    color: @yellow;
}
#workspaces button.active {
    color: @yellow;
    background-color: #282b31;
}

#workspaces button.urgent {
    background-color: @red;
}

#clock,
#battery,
#backlight,
#network,
#wireplumber,
#language,
#tray,
#mpd {
    padding: 0 10px;
    color: @text;
}

#window {
    margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

label:focus {
    background-color: #000000;
}

#mpd { 
    color: rgb(147,139,255);
    background: rgb(0,0,0);
    background: linear-gradient(140deg, rgba(0,0,0,0) 0%, rgba(147,43,255,0.5) 50%, rgba(9,0,0,0) 100%); 
    transition: all .5s;
}

#mpd.disconnected {
    background: rgb(0,0,0);
    background: radial-gradient(circle, rgba(0,0,0,0) 10%, rgba(250,50,47,0.5) 15%, rgba(9,0,0,0) 100%); 
}

#mpd.stopped { 
    background: rgb(0,0,0);
    background: radial-gradient(circle, rgba(0,0,0,0) 10%, rgba(147,43,255,0.5) 15%, rgba(9,0,0,0) 100%); 
}

#mpd.paused {
    background: rgb(0,0,0);
    background: linear-gradient( 90deg, rgba(0,0,0,0) 0%, rgba(147,43,255,0.5) 40%, rgba(147,43,255,0.2) 50%, rgba(147,43,255,0.5) 60%, rgba(0,0,0,0) 100%); 
}

#tray {
    /* background-color: #2980b9; */
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: @red;
}

#wireplumber {
    margin: 4px 0;
    border-radius: 99px;
    color: rgb(147,139,255);
    box-shadow: inset 0px 0px 4px 2px rgba(147,139,255,1);
    transition: all .5s;
}

#wireplumber.muted {
    color: #508f72;
    box-shadow: inset 0px 0px 4px 2px rgba(80,143,114,1);
}

#network {
    margin: 4px 0;
    border-radius: 99px;
    color: rgb(244, 201, 11);
    box-shadow: inset 0px 0px 4px 2px rgba(244,201,11,1);
}

#network.disconnected {
    color: @red;
    box-shadow: inset 0px 0px 4px 2px rgba(250,50,47,1);
}

#backlight {
    margin: 4px 0;
    border-radius: 99px;
    color: rgb(181, 224, 242);
    box-shadow: inset 0px 0px 4px 2px rgba(181,224,242,1);
}

#language {
    margin: 4px 0;
    border-radius: 99px;
    color: rgb(28, 151, 170);
    box-shadow: inset 0px 0px 4px 2px rgba(28,151,170,1);
}

#battery {
    margin: 4px 0;
    border-radius: 99px;
    color: #ffffff;
    box-shadow: inset 0px 0px 4px 2px rgba(255,255,255,1);
    transition: all .5s;
}

#battery.full, 
#battery.great {
    color: rgb(166, 211, 84);
    box-shadow: inset 0px 0px 4px 2px rgba(166,211,84,1);
}

#battery.good {
    color: @yellow;
    box-shadow: inset 0px 0px 4px 2px rgba(255,238,0,1);
}

#battery.warning {
    color: #db620b;
    box-shadow: inset 0px 0px 4px 2px rgba(219,98,11,1);
}

#battery.charging, #battery.plugged {
    color: #933bff;
    box-shadow: inset 0px 0px 4px 2px rgba(147,59,255,1);
}

@keyframes blink {
    to {
        color: #ffffff;
        box-shadow: inset 0px 0px 4px 2px rgba(255,255,255,1);
    }
}

#battery.critical:not(.charging) {
    color: @red;
    box-shadow: inset 0px 0px 4px 2px rgba(250,50,47,1);
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#clock {
    font-size: 20px;
    font-weight: bold;
    padding: 0 4px 0 0;
}
